/* Reset CSS */

/* 
    PC: >= 1024PX
    Tablet: >= 740px & < 1024px
    Mobile: < 740px
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng
*/

/* Common */
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important; 
}

.pull-center {
    float: right !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 12px;
    display: inline-block; /* nut ko nhay dc len tren place-des nua*/
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block; /* inline: cùng một hàng, block: tính chất khối*/
}

#nav li{
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /* dang chu*/

}

#nav li a {
    text-decoration: none; /* bo gach chan*/
    line-height: 46px; /* can giua dong bang header*/
    padding: 0px 20px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;  /* Hiện ra submenu khi hover vào menu cha */
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* hộp bống đổ*/
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: red;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider1.jpg') top center /cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    /*left: 50%;
    transform: translateX(-50%);*/
    /*right: 0;
    left: 0;*/
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-discription {
    font-size: 15px;
    margin-top: 25px;
}


#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto; /* giup can giua */
    margin-right: auto; /* giup can giua */
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px; /* khoảng cách giữa các ký tự*/
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6; /* độ trong suốt*/
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /* căn đều 2 bên*/
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
    overflow: hidden; /*tại vì thẻ con dùng float nên thẻ cha bị co lại bởi vì float chui ra mặt phảng khác*/
}

.clear {
    clear: both;
}
#content .member-item {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 134px;
    border-radius: 5px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none; /* bỏ dấu đầu dòng của danh sách/thẻ li*/
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd; /* css cho viền ở dưới */
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2.5px; /* phải có float*/
}

/* Places */
.places-list {
    overflow: hidden;
    margin-top: 32px;
}


.place-img {
    display: block; /* giup loai bo khoang cach cua inline trong display*/
    width: 100%;
    opacity: 0.8;
}
.place-body {
    width: 100%;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {
    font-size: 15px;
    font-weight: 700;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-des {
    margin-top: 15px;
    line-height: 22px;
}


/* Contact from*/
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6 ;
}

.contact-info i {
    width: 30px;
    display: inline-block;
    
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
    opacity: 0.9;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    align-items: center; /* giua tu tren xuong*/
    justify-content: center; /* giua tu trai sang phai*/
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px); /* khi thu man hinh nho lai ko bi xau*/
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s; /* ease: chuyen dong nhanh cham , thoi gian chay*/
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff; 
    padding: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex; /* can giua khoa va chu ticket*/
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-header-name {
    letter-spacing: 4px;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    padding-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
    padding: 10px;
}

#buy-ticket {
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    border-style: none; /* border: none*/
    padding: 16px;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
}

#buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    font-size: 15px;
    float: right; /*text-algin: right */
    margin: 15px 16px; /* padding: 16px */

}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

